body{
  font-family: "Poppins", sans-serif;
}

/* Header section */

header{
  padding:40px 120px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-tittle{
  color: #3A3A3A;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav ul{
  display: flex;
  gap: 32px;
}
.nav > ul > li{
  list-style: none;
  color: #3A3A3A;
  font-size: 1rem;
  font-weight: 600;
}

/* Hero section */

.hero-continer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.hero-info{

}
.hero-tittle{
  color: #3A3A3A;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
  margin-bottom: .5rem;
}

.hero-detail{
  color: #3A3A3A;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
} 

button{
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 2.5625rem;
  background: #E02C6D;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}
.arrow{
  margin-left: 8px;
}

/* Hero-Img */

.main-camera-bg{
  position: relative;
}
.main-camera{
  position: absolute;
  z-index: 1;
  padding: 22px 0px 0px 22px;
}

/* Sponsors Section */
.sponsors-continer{
  display: flex;
  justify-content: space-evenly;
  padding: 60px 140px;
  align-items: center;
}

/* <!-- Popular Collection --> */
.popular-collection{
  padding: 60px 140px;
}
.collection-tittle{
  text-align: center;
}
.collection-tittle h1{
  color: #3A3A3A;
  font-size: 1.75rem;
  font-weight: 600;
}
.product-continer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 24px;
  row-gap: 24px;
}
.card{
  border-radius: 0.3125rem;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 16px;
}
.card-img{
  width: 100%;
  object-fit: cover;
}
.card h3{
  color: #18191F;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.38rem;
}
.card h5{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.38rem;
  margin-bottom: 0.50rem;
}
.star{
  display: flex;
  gap: 4px;
  align-items: center;
}
.star p{
  margin-left: 16px;
  margin-top: 0.50rem;
  margin-bottom: 0.30rem;
  color: #5E6366;
  font-size: 0.875rem;
  font-weight: 700;
}
.card h6{
  color: #787885;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0rem;
  margin-bottom: 0rem;
}


/* Media Quary for Small devices */

@media screen and (max-width:576px) {
  header{
    padding: 16px;
    margin: 0px;
  }
  .nav{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav ul{
    display: flex;
    padding: 0px;
    gap: 12px;
  }
  .hero-continer{
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
  .hero-info{
    width: 100%;
    text-align: center;
  }
  .hero-tittle{
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .hero-detail{
    width: 100%;
    margin-bottom: 1rem;
  }

  /* Hero- Image section */
  .main-camera-bg{
    position: relative;
    width: 100%;
  }
  .main-camera{
    position: absolute;
    z-index: 1;
    width: 80%;
  }
  /* main section */
  main{
    padding: 16px;
    margin: 0px;
  }
  /* Sponsors Section */
  .sponsors-continer{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    align-items: center;
    margin: 20px 0px;
  }
  .sponsors-continer img{
    width: 20%;
  }
  /* <!-- Popular Collection --> */
  .popular-collection{
    padding: 0px;
    margin: 0px;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .collection-tittle h1{
    text-align: center;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
  }
  .product-continer{
    display: flex;
    flex-direction: column;
  }

}
